<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Products</title>
    <style>
        th, td {
            border: solid 1px dimgray;
            padding: 3px;
        }
    </style>
</head>
<body>
<a href="/product/create"><button style="background-color: darkgreen;color: palegoldenrod">Add new</button></a>
<table class="striped">
    <thead>
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Category</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.category.name}"></td>
        <td><a class="btn btn-success" th:href="${'/product/'+product.id}"><button style="background-color: orange">Take a look</button> </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
