<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<form action="#" th:action="@{/product/create}" th:object="${product}" method="post">
    <label>product:  </label><input type="text" name="name" th:field="*{name}">
    <label>description:  </label><textarea name="description" th:field="*{description}"></textarea>
    <select th:field="*{category}">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
        </option>
    </select>
    <input type="submit">

</form>
</body>
</html>